<h1 mat-dialog-title>{{type === 'reset' ? 'Reset Password' : 'Change Password'}}</h1>
<div mat-dialog-content>
  <form fxFlex fxLayout="column" [formGroup]="form">
    <mat-form-field *ngIf="type !== 'reset'">
      <input matInput placeholder="Old password" type="password" formControlName="oldPassword">
      <mat-error
        *ngIf="form.get('oldPassword').hasError('required') && form.get('oldPassword').touched">
        Old password is required.
      </mat-error>
      <mat-error
        *ngIf="form.get('oldPassword').hasError('minlength') && form.get('oldPassword').touched">
        Password must have minimum 6 characters.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New password" type="password" formControlName="password">
      <mat-error
        *ngIf="form.get('password').hasError('required') && form.get('password').touched">
        Password is required.
      </mat-error>
      <mat-error
        *ngIf="form.get('password').hasError('minlength') && form.get('password').touched">
        Password must have minimum 6 characters.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
      <mat-error
        *ngIf="form.get('confirmPassword').hasError('required') && form.get('confirmPassword').touched">
        Confirm password is required.
      </mat-error>
      <mat-error
        *ngIf="form.get('confirmPassword').hasError('minlength') && form.get('confirmPassword').touched">
        Password must have minimum 6 characters.
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="form.get('confirmPassword').hasError('MatchPassword') && form.get('confirmPassword').touched">
      Password not match
    </mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button
          color="accent"
          [disabled]="form.invalid"
          (click)="submit()"
  >
    Confirm
  </button>
</div>
