<mat-card class="login-card">

  <form [formGroup]="recoveryForm">

    <div mat-dialog-content>

      <div class="form-control">

        <div fxLayout="column">

          <p>Set new password</p>

          <h2>{{email}}</h2>

          <mat-form-field>
            <input matInput
                   placeholder="Password"
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="password.invalid">
              {{getPasswordErrorMessage()}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput
                   placeholder="Confirm Password"
                   type="password"
                   formControlName="confirmPassword">
            <mat-error *ngIf="confirmPassword.invalid">
              {{getConfirmPasswordErrorMessage()}}
            </mat-error>
          </mat-form-field>

          <mat-error *ngIf="isError">
            {{errorMessage}}
          </mat-error>

        </div>

      </div>

    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
      <button mat-button
              type="button"
              [routerLink]="['/login']">Login
      </button>
      <button
        mat-raised-button
        (click)="onPasswordChange()"
        [disabled]="!recoveryForm.valid">Set Password
      </button>
    </div>

  </form>

</mat-card>

