<div class="padding-content"
     fxFlex
     fxLayout="column">
  <div fxLayout="row">
    <div>
      <h2 class="mat-title">Edit User</h2>
      <p class="mat-subheading-2">Edit user.</p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="user">
    <form [formGroup]="user" fxLayout="column" class="half-width">
      <mat-form-field  appearance="outline">

        <mat-label>Login - email</mat-label>

        <input
          matInput
          type="email"
          email="true"
          placeholder="Email"
          formControlName="userName">
        <mat-error
          *ngIf="user.get('userName').hasError('required') && user.get('userName').touched">
          UserName is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('userName').hasError('minlength') && user.get('userName').touched">
          UserName must have minimum 6 characters.
        </mat-error>

      </mat-form-field>

      <div *ngIf="(customers$ | async) as customers" fxLayout="column">

        <mat-form-field  appearance="outline">

          <mat-label>Customer</mat-label>

          <mat-select #currentCustomer
                      placeholder="Select Customer"
                      formControlName="customer"
                      [compareWith]="compare"
                      (valueChange)="resetFarms()">
            <mat-option *ngFor="let customer of customers.results" [value]="customer">
              {{customer.name}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="user.get('customer').hasError('required') && user.get('customer').touched">
            Customer is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field  appearance="outline"
                         *ngIf="this.user.value.customer !== null">

          <mat-label>Site</mat-label>

          <mat-select #option placeholder="Select Site" formControlName="customerSites" [compareWith]="compare"
                      multiple
                      (valueChange)="getFarms(option.value)">
            <mat-option *ngFor="let site of findCustomerSite(customers.results, this.user.value.customer.id)"
                        [value]="site">
              {{site.siteName}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="user.get('customerSites').hasError('required') && user.get('customerSites').touched">
            Customer Site is required.
          </mat-error>

        </mat-form-field>

      </div>

      <mat-form-field  appearance="outline"
                       *ngIf="(farms$ | async) as farms">

        <mat-label>Farm</mat-label>

        <mat-select #option placeholder="Select Farm" formControlName="farms" multiple [compareWith]="compare">
          <mat-option *ngFor="let farm of farms.results" [value]="farm">
            {{farm.name}}
          </mat-option>
        </mat-select>

        <mat-error
          *ngIf="user.get('farms').hasError('required') && user.get('farms').touched">
          Farm is required.
        </mat-error>

      </mat-form-field>

      <mat-form-field  appearance="outline" *ngIf="(roles$ | async) as roles">

        <mat-label>Role</mat-label>

        <mat-select placeholder="Select Role" formControlName="roleId">
          <mat-option *ngFor="let role of roles.results" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('roleId').hasError('required') && user.get('roleId').touched">
          Role is required.
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" class="button-row">

        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit(user)"
          [disabled]="user.invalid"
        >
          Save Changes
        </button>

        <button
          mat-raised-button
          type="button"
          (click)="resetPassword()"
        >
          Reset Password
        </button>

        <button mat-raised-button (click)="cancel()" >
          Cancel
        </button>


      </div>
    </form>
  </div>
</div>
