<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/App_Data/logs/nlog-internal.log">
  
  <variable name="logDirectory" value="${basedir}/App_Data/logs/${date:format=yyyy-MM}"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
