<div class="padding-content"
     fxFlex
     fxLayout="column"
>
  <div
    fxLayout="row"
  >
    <div>
      <h2 class="mat-title">New Order</h2>
      <p class="mat-subheading-2">Here you create new order.</p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div>
    <form [formGroup]="order" (ngSubmit)="onSubmit()" fxLayout="column" class="half-width" [ngClass.xs]="{'half-width':false, 'full-width':true}">

      <mat-form-field>
        <input matInput type="number" placeholder="Tons ordered" formControlName="tonsOrdered">
        <mat-error
          *ngIf="order.get('tonsOrdered').hasError('required') && order.get('tonsOrdered').touched">
          Tons ordered is required.
        </mat-error>
        <mat-error
          *ngIf="order.get('tonsOrdered').hasError('min') && order.get('tonsOrdered').touched">
          Minimum tons ordered is 1.
        </mat-error>
      </mat-form-field>

      <!--farms-->
      <mat-form-field *ngIf="(farms$ | async) as farms">
        <mat-select #option placeholder="Select Farm" formControlName="farm"
                    (valueChange)="getRations(option.value); getSheds(option.value)">
          <mat-option *ngFor="let farm of farms.results" [value]="farm">
            {{farm.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="order.get('farm').hasError('required') && order.get('farm').touched">
          Farm is required.
        </mat-error>
      </mat-form-field>

      <!--ration-->
      <mat-form-field *ngIf="this.order.value.farm !== null && (rations$ | async) as rations">
        <mat-select placeholder="Select Ration" formControlName="ration">
          <mat-option *ngFor="let ration of rations.results" [value]="ration">
            {{ration.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="order.get('ration').hasError('required') && order.get('ration').touched">
          Ration is required.
        </mat-error>
      </mat-form-field>

      <!--sheds-->
      <mat-form-field *ngIf="this.order.value.farm !== null && (sheds$ | async) as sheds">
        <mat-select #selectedSheds placeholder="Select Sheds"
                    (valueChange)="getSiloses(selectedSheds.value)"
                    formControlName="sheds"
                    multiple>
          <mat-option *ngFor="let shed of sheds.results" [value]="shed">
            {{shed.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="order.get('ration').hasError('required') && order.get('sheds').touched">
          Sheds are required.
        </mat-error>
      </mat-form-field>

      <!--silos-->

      <mat-form-field *ngIf="this.order.value.farm !== null && this.order.value.sheds !== null && (silos$ | async) as silos">
        <mat-select placeholder="Select Sheds" formControlName="silos" multiple>
          <mat-option *ngFor="let silo of silos.results" [value]="silo">
            {{silo.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="order.get('silos').hasError('required') && order.get('silos').touched">
          Silos are required.
        </mat-error>
      </mat-form-field>

      <!--order date-->
      <mat-form-field>
        <input matInput [matDatepicker]="dp3" placeholder="Delivery Date" formControlName="deliveryDate">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

      <button
        mat-button
        color="accent"
        [disabled]="order.invalid"
      >
        Create Order
      </button>
    </form>
  </div>

</div>
