<div class="padding-content"
     fxFlex
     fxLayout="column"
>
  <div
    fxLayout="row"
  >
    <div>
      <h2 class="mat-title">New User</h2>
      <p class="mat-subheading-2">Here you create new user.</p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div>
    <form [formGroup]="user" (ngSubmit)="onSubmit(user)" fxLayout="column" class="half-width">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Your full name"
          formControlName="userName">
        <mat-error
          *ngIf="user.get('userName').hasError('required') && user.get('userName').touched">
          UserName is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('userName').hasError('minlength') && user.get('userName').touched">
          UserName must have minimum 6 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Your password"
          formControlName="password">
        <mat-error
          *ngIf="user.get('password').hasError('required') && user.get('password').touched">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
          Password must have minimum 6 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword">
        <mat-error
          *ngIf="user.get('confirmPassword').hasError('required') && user.get('confirmPassword').touched">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('confirmPassword').hasError('minlength') && user.get('confirmPassword').touched">
          Password must have minimum 6 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="(customers$ | async) as customers">
        <mat-select placeholder="Select Customer" formControlName="customer">
          <mat-option *ngFor="let customer of customers.results" [value]="customer">
            {{customer.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('customer').hasError('required') && user.get('customer').touched">
          Customer is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="this.user.value.customer !== null">
        <mat-select #option placeholder="Select CustomerSite" formControlName="customerSites" multiple (valueChange)="getFarms(option.value)">
          <mat-option *ngFor="let site of this.user.value.customer.customerSites" [value]="site">
            {{site.siteName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="this.user.value.customerSites !== null && (farms$ | async) as farms">
        <mat-select #option placeholder="Select Farm" formControlName="customerSites" multiple>
          <mat-option *ngFor="let farm of farms.results" [value]="farm">
            {{farm.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="(roles$ | async) as roles">
        <mat-select placeholder="Select Role" formControlName="roleId">
          <mat-option *ngFor="let role of roles.results" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('roleId').hasError('required') && user.get('roleId').touched">
          Role is required.
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="user.get('confirmPassword').hasError('MatchPassword') && user.get('confirmPassword').touched">
        Password not match
      </mat-error>
      <button
        mat-button
        color="accent"
        [disabled]="user.invalid"
      >
        Create User
      </button>
    </form>
  </div>

</div>
