<div class="padding-content"
     fxFlex
     fxLayout="column"
>
  <div
    fxLayout="row"
  >
    <div>
      <h2 class="mat-title">New User</h2>
      <p class="mat-subheading-2">Create new user.</p>
    </div>
  </div>


  <div>
    <form [formGroup]="user" fxLayout="column" class="half-width" [ngClass.xs]="{'half-width':false, 'full-width':true}">

      <mat-form-field appearance="outline">

        <mat-label>Email</mat-label>

        <input
          matInput
          type="email"
          email="true"
          placeholder="Email"
          formControlName="userName">
        <mat-error
          *ngIf="user.get('userName').hasError('required') && user.get('userName').touched">
          Email is required.
        </mat-error>
        <mat-error
          *ngIf="(user.get('userName').hasError('email') || user.get('userName').hasError('minlength')) && user.get('userName').touched">
          Provide valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Password</mat-label>

        <input
          matInput
          type="password"
          placeholder="Your password"
          formControlName="password">
        <mat-error
          *ngIf="user.get('password').hasError('required') && user.get('password').touched">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
          Password must have minimum 6 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Repeat Password</mat-label>

        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword">
        <mat-error
          *ngIf="user.get('confirmPassword').hasError('required') && user.get('confirmPassword').touched">
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="user.get('confirmPassword').hasError('minlength') && user.get('confirmPassword').touched">
          Password must have minimum 6 characters.
        </mat-error>

        <mat-error *ngIf="user.get('confirmPassword').hasError('MatchPassword') && user.get('confirmPassword').touched">
          Password not match
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="(customers$ | async) as customers">

        <mat-label>Customer</mat-label>

        <mat-select placeholder="Select Customer" formControlName="customer"
                    (valueChange)="resetFarms()">
          <mat-option *ngFor="let customer of customers.results" [value]="customer">
            {{customer.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('customer').hasError('required') && user.get('customer').touched">
          Customer is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="this.user.value.customer !== null">

        <mat-label>Site</mat-label>

        <mat-select #option placeholder="Select Site" formControlName="customerSites" multiple
                    (valueChange)="getFarms(option.value)">
          <mat-option *ngFor="let site of this.user.value.customer.customerSites" [value]="site">
            {{site.siteName}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('customerSites').hasError('required') && user.get('customerSites').touched">
          Customer Site is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="this.user.value.customerSites !== null && (farms$ | async) as farms">

        <mat-label>Farm</mat-label>

        <mat-select #option placeholder="Select Farm" formControlName="farms" multiple>
          <mat-option *ngFor="let farm of farms.results" [value]="farm">
            {{farm.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('farms').hasError('required') && user.get('farms').touched">
          Farm is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="(roles$ | async) as roles">

        <mat-label>Role</mat-label>

        <mat-select placeholder="Select Role" formControlName="roleId">
          <mat-option *ngFor="let role of roles.results" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="user.get('roleId').hasError('required') && user.get('roleId').touched">
          Role is required.
        </mat-error>
      </mat-form-field>


      <div fxLayout="row" class="button-row">

        <button
          mat-raised-button
          color="accent"
          (click)="onSubmit()"
          [disabled]="user.invalid"
        >
          Create User
        </button>

        <button mat-raised-button (click)="cancel()" >
          Cancel
        </button>

      </div>
    </form>
  </div>

</div>
